@import '~antd/dist/antd.css';

@media screen and (min-width:576px){
    .dropDown{
        margin-left: 1800%;
    }
    .dropDown2{
        margin-left: 1700%;
    }
    .oneweek{
        margin-left:35%;
    }
    .indextitle{
        font-size:48px;
    }
    .login{
        margin-left:25%;
    }
    .checkIn{
        font-size:16px;
        margin-top:30px;
        position:relative;
    }
    .checkInBorder{
        padding-left:20px;
        padding-right:20px;
    }
    .schedule{
        font-size:21px;
    }
    .schedule2{
        font-size:21px;
    }
}

@media screen and (max-width:576px){
    .dropDown{
        margin-left: 800%;
    }
    .dropDown2{
        margin-left: 1300%;
    }
    .menu{
        width:25%;
    }
    .menu2{
        width:30%;
    }
    .disabledmenu{
        width:20%;
    }
    .label{
        margin-left:-40%;
    }
    .label2{
        margin-left:-60%;
    }
    .label3{
        margin-left:-30%;
    }
    .indextitle{
        font-size:32px;
        margin-left: 3%;
    }
    .oneweek{
        margin-left:23%;
    }
    .login{
        margin-left:7%;
        margin-bottom: 10%;
    }
    .register{
        margin-left:7%;
    }
    .checkIn{
        font-size:14px;
        margin-top:30px;
        position:relative;
    }
    .checkInTag{
        margin-left: 25%;
    }
    .checkInBorder{
        padding-left:3px;
        padding-right:3px;
    }
    .back{
        margin-left:30%;
    }
    .schedule{
        font-size:15px;
    }
    .schedule2{
        font-size:12px;
        font-weight: 600;
    }
}
